#currentDay_Div {
  border: solid red 2px;
}
#inputForm {
  text-align: left;
}
#inputForm input,
#inputForm button {
  margin: 2px;
}
#maxTemperature_CurrentDay {
  display: none;
}
#minTemperature_CurrentDay {
  display: none;
}
#removeSelectedLocations_Button {
  position: absolute;
  top: 5px;
  right: 5px;
}
#savedLocations_Container {
  position: relative;
  text-align: center;
  border: solid black 2px;
  padding: 5px;
}
#savedLocations_Flexbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#savedLocations_Flexbox div {
  padding: 5px;
  border: solid red 1px;
  margin: 5px;
}
#weatherCanvas {
  border: 2px solid black;
}
.weatherDiv {
  margin: 10px;
  padding: 5px;
  border: solid red 2px;
  text-align: center;
}
#weatherDivContainer {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid black 2px;
}
#weatherDiv_CurrentDay {
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
.weatherSymbolParagraph {
  font-size: 2em;
}
